[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "fzf"]
	path = fzf
	url = http://github.com/junegunn/fzf.git
[submodule "zsh-autosuggestions"]
    path = zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions.git
