[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "fzf"]
	path = fzf
	url = http://github.com/junegunn/fzf.git
[submodule "zsh-autosuggestions"]
    path = zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "oh-my-zsh-custom/themes/powerlevel10k"]
	path = oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "oh-my-zsh-custom/plugins/zsh-z"]
	path = oh-my-zsh-custom/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule "oh-my-zsh-custom/plugins/zsh-autocomplete"]
	path = oh-my-zsh-custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "terminator-open-scrollback-plugin"]
	path = terminator-open-scrollback-plugin
	url = git@github.com:rcywongaa/terminator-open-scrollback-plugin.git
[submodule "gnome-shell-extension-wbe"]
	path = gnome-shell-extension-wbe
	url = https://github.com/rcywongaa/gnome-shell-extension-wbe
